@model IEnumerable<CorretorViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Corretores</h1>

<p>
    <a asp-action="Create">Criar um novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creci)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creci)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CorretorId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CorretorId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.CorretorId">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
